## Bike-sharing-demand

* https://www.kaggle.com/c/bike-sharing-demand

* #### Data Fields
    - **datetime**  - hourly date + timestamp  
    - **season**  - 1 = spring, 2 = summer, 3 = fall, 4 = winter  
    - **holiday**  - whether the day is considered a holiday  
    - **workingday**  - whether the day is neither a weekend nor holiday  
    - **weather**

        1: Clear, Few clouds, Partly cloudy, Partly cloudy  
        2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist  
        3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds  
        4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog  
    - **temp**  - temperature in Celsius  
    - **atemp**  - "feels like" temperature in Celsius  
    - **humidity**  - relative humidity  
    - **windspeed**  - wind speed  
    - **casual**  - number of non-registered user rentals initiated  
    - **registered**  - number of registered user rentals initiated  
    - **count**  - number of total rentals

> 자전거 데이터 확인

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore', category=RuntimeWarning)

In [2]:
bike_df = pd.read_csv('C:/apps/ml_7/datasets/bike/bike_train.csv')

print(bike_df.shape)
bike_df.head(3)

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32